body {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif, serif;
  color: #000000;
  background: white;
}
body *:not(i) {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif important;
}
h1 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
}
h2,
h3,
h4 {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif;
}
a {
  color: #a70000;
}
a:hover {
  text-decoration: underline;
  color: #a70000;
}
.sy-box.topslider {
  background: #f0f0f0;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #a70000 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #a70000;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
.wgrey {
  background: #f0f0f0;
}
header {
  background: white;
  padding: 2rem 0;
}
header #headertelw {
  background: #a70000;
  color: white;
  position: absolute;
  right: 1rem;
  top: -2rem;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #headertelw a {
  color: white!important;
}
header #headertelw img {
  margin-right: 0.5rem;
}
header #headertelw .elem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
}
header .headerw {
  position: relative;
  display: flex!important;
  justify-content: space-between;
  align-items: flex-end;
}
header .logo {
  height: 80px;
  margin: -5px 0 2rem 0;
}
@media (max-width: 720px) {
  header .logo {
    height: 40px;
    margin: 0 0 1rem 0;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 720px) {
  header {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  header #headermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
#ebd {
  font-size: 0.7rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.headermenuitem {
  flex: 0 1 auto;
  color: #000000 !important;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
  z-index: 100;
  border-bottom: 2px solid transparent;
}
.headermenuitem:hover {
  border-bottom: 2px solid #a70000;
  color: #a70000;
}
.headermenuitem:hover a {
  color: #a70000 !important;
}
.headermenuitem:hover .sub-menu {
  height: auto;
  padding: 1rem;
}
.headermenuitem a {
  color: #000000 !important;
  text-decoration: none!important;
}
.headermenuitem a span {
  padding: 0 1rem;
}
@media (max-width: 720px) {
  .headermenuitem a span {
    border: none;
    padding: 0 1em;
  }
}
.headermenuitem .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 99;
  top: 2.5rem!important;
  padding: 1rem 0 0 0!important;
}
@media (max-width: 720px) {
  .headermenuitem .sub-menu {
    display: none;
  }
}
.headermenuitem .sub-menu .sub-menu-item {
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0 1rem;
}
.headermenuitem .sub-menu .sub-menu-item > a {
  color: #000000 !important;
  font-size: 1.2rem;
  line-height: 2rem;
}
.headermenuitem .sub-menu .sub-menu-item > a:hover {
  color: #a70000 !important;
}
.imggal .gimg {
  cursor: pointer;
  padding-top: 100%;
}
.imggal .gimg.h {
  padding-top: calc(210%);
}
.imggal .gimg.w {
  padding-top: calc(65.6%);
}
footer {
  display: block;
  position: relative;
  background: #f0f0f0;
  padding: 4rem 0;
}
footer .logo {
  width: 100%;
}
footer .adr ul {
  padding: 0;
  margin: 2rem 0 0 0;
}
footer .adr ul li {
  list-style: none;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}
footer .adr ul li img {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
footer .adr ul li a {
  color: #000000;
}
footer .column.links {
  padding: 1rem 2rem!important;
}
footer .column.links h4 {
  padding: 2rem 0 0 0;
}
footer .column.links ul {
  padding: 0;
  margin: 0;
}
footer .column.links ul li {
  list-style: none;
  color: #000000;
}
footer .column.links ul li a {
  color: #000000;
}
.btnlnk {
  padding: 1rem 2rem;
  background: #a70000;
  color: white!important;
  font-size: 1.7rem;
}
#home #tobenw {
  color: white;
  padding: 10vh 0 20vh 0;
}
#home #tobenw h2 {
  font-weight: bold;
  font-size: 3.5vh;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#home #tobenw .content {
  font-size: 1.4rem;
  width: 50%;
  margin-bottom: 4rem;
}
#home #untw {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
#home #untw img {
  max-width: 100%;
}
#home #untw h2 {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0;
}
#home #untw h1 {
  margin: 1rem 0;
  font-size: 4rem;
}
#home #untw h1 strong {
  color: #a70000;
}
#home #jobsw {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  padding: 6rem 0 0 0;
  color: #000000;
}
#home #jobsw .cl ul {
  margin: 0;
  padding: 0;
}
#home #jobsw .cl ul li {
  margin: 0 0 1rem 0;
}
#home #jobsw .cl ul li a {
  color: #000000;
}
#home #jobsw .cl ul li a:hover {
  color: #a70000;
}
#home #jobsw .cl .icnlist {
  display: flex;
}
#home #jobsw .cl .icnlist .icn {
  padding: 1rem;
  max-width: 20%;
  position: relative;
  text-align: center;
}
#home #jobsw .cl .icnlist .icn img {
  max-width: 100%;
}
#home #jobsw .tw {
  padding: 0 0 2rem 6rem;
  background: url(pfr.png) left bottom no-repeat;
  background-size: contain;
}
#home #jobsw h2 {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 4rem 0 0 0;
  color: #000000;
}
#home #jobsw h3 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
  margin: 1rem 0;
  font-size: 4rem;
  color: #000000;
}
#home #jobsw h3 strong {
  color: #a70000;
}
#home #jobsw .ui.container {
  display: flex!important;
  justify-content: space-between;
}
#home #jobsw .btnlnk {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}
#home #fpw {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  padding: 0 0 22vw 0;
  color: white;
}
#home #fpw .tw {
  padding-right: 6rem;
  background: url(pfw.png) right top no-repeat;
  background-size: contain;
}
#home #fpw h2 {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 4rem 0 0 0;
  color: white;
}
#home #fpw h3 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
  margin: 1rem 0;
  font-size: 4rem;
  color: white;
}
#home #fpw h3 strong {
  color: #a70000;
}
#home #fpw .ui.container {
  display: flex!important;
  justify-content: flex-start;
}
#home #fpw .ui.container ul {
  margin: 0;
  padding: 4rem 0 0 2rem;
  columns: 3;
}
#home #fpw .ui.container ul li {
  padding: 0.5rem 0 0.5rem 2rem;
  list-style-type: none;
  display: flex;
  font-size: 1.1rem;
}
#home #fpw .ui.container ul li::before {
  content: '››';
  color: white;
  margin: 0 0.5rem 0 0;
  font-size: 2em;
  font-weight: bold;
}
#home #lew {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 2rem 0 4rem 0;
  color: white;
}
#home #lew .btnlnk {
  position: absolute;
  bottom: -5.5rem;
}
#home #lew img {
  max-width: 100%;
}
#home #lew h2 {
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0;
  color: white;
}
#home #lew h3 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
  margin: 1rem 0;
  font-size: 4rem;
  color: white;
}
#home #lew h3 strong {
  color: #a70000;
}
#home #lew .icnlist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#home #lew .icnlist .icn {
  position: relative;
  width: 18%;
}
#home #lew .icnlist .icn h4 {
  margin: 0;
}
#home #lew .ui.container {
  position: relative;
}
.nopadding {
  padding: 0!important;
}
.subHeader {
  position: relative;
  min-height: 15vh;
  margin: 4rem 0 2rem 0;
  padding: 2rem;
}
@media (max-width: 720px) {
  .subHeader {
    margin: 2rem 0 1rem 0;
    padding: 1rem;
  }
}
.subHeader .contentWithSubtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.subHeader .contentWithSubtitle h2 {
  color: #f0f0f0;
  letter-spacing: 0.1em;
  font-size: 2.5rem;
  text-align: right;
  padding-left: 3rem;
}
@media (max-width: 720px) {
  .subHeader .contentWithSubtitle {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .subHeader .contentWithSubtitle h2 {
    font-size: 2rem;
    line-height: 1.3em;
    margin-top: -2.5rem;
  }
  .subHeader .contentWithSubtitle h2 p {
    line-height: 1.2em;
  }
}
.subHeader h1 {
  margin: 0 0 2rem 0;
  color: #a70000;
}
