{{ define "main" }} {{ $p := . }}
<div class="subpage jobs">
  {{partial "headerSub" .}}
  <div class="ui container">
    <ul class="jlist">
      {{range .Params.job_liste}}
        <li>
          <div class="jname">
            <h4>{{.bezeichnung_1}}</h4>
            
            <a href="{{with .link}}{{relref $p . }}{{end}}"><h3>{{.bezeichnung_2}}</h3></a>
          </div>
          <a class="mbutton" href="{{with .link}}{{relref $p . }}{{end}}">weiterlesen</a>
        </li>
      {{end}}
    </ul>
  </div>
</div>
{{ end }}